<section>
	<div id="modal-center" class="uk-flex-top" uk-modal>
		<div class="uk-modal-dialog container  uk-modal-body uk-margin-auto-vertical">
			<button class="uk-modal-close-default" type="button" uk-close></button>
			<h2>Connectez-vous</h2>
			<form action="" id="login-form" class="form-input" method="POST">
				<input class="uk-input form_contact message-error" type="text" placeholder="Identifiant" name="identifiant" id='errorsidentifiant'>
				<div class="uk-child-width-expand@s form_contact" uk-grid>
					<input class="uk-input div2 message-error" type="password" placeholder="Mot de passe" name="password" id="errorspassword">
					<div class="uk-flex uk-flex-right uk-margin">
						<input type="submit" class="button-1 form_contact button_contact login-submit">
					</div>
				</form>
			</div>
		</div>
	</section>
