<nav class="uk-navbar-container" uk-navbar>
	<div class="uk-navbar-left">
		<ul class="uk-navbar-nav">
			<img src="../../assets/images/favicon.png" alt="logo_site">
			<li>
				<a href="/">Accueil</a>
			</li>
			<li>
				<a href="/annonce">Annonces</a>
			</li>
			<li>
				<a href="/contact">Contact</a>
			</li>
		</ul>
	</div>
	<div class="uk-navbar-right">
		<ul class="uk-navbar-nav">
			<button class="uk-button">
				<a href="">Déposer une annonce</a>
			</button>
			<li>			
				<a href="#modal-center" data-uk-toggle=" #modal-center " uk-toggle>Connexion</a> 
			</li>
			<li>
				<a href="/register" data-uk-toggle=" #modal-center " uk-toggle>Register</a>
			</li>
		</ul>
	</div>
</nav>
